$-------------------------------------------------------------------------
== preprocessor.include-global ==
#include <<CURSOR>>
$-------------------------------------------------------------------------
== preprocessor.include-local ==
#include "<CURSOR>"
$-------------------------------------------------------------------------
== preprocessor.define ==
#define	<CURSOR>
$-------------------------------------------------------------------------
== preprocessor.undefine ==
#undef	<CURSOR>		
#$-------------------------------------------------------------------------
== preprocessor.if-else-endif ==
#if  |?CONDITION:u|
<CURSOR><SPLIT>
#else      /* -----  not |CONDITION|  ----- */
<+ELSE PART+>
#endif     /* -----  not |CONDITION|  ----- */
$-------------------------------------------------------------------------
== preprocessor.ifdef-else-endif ==
#ifdef  |?CONDITION:u|
<CURSOR><SPLIT>
#else      /* -----  not |CONDITION|  ----- */
<+ELSE PART+>
#endif     /* -----  not |CONDITION|  ----- */
$-------------------------------------------------------------------------
== preprocessor.ifndef-else-endif ==
#ifndef  |?CONDITION:u|
<CURSOR><SPLIT>
#else      /* -----  not |CONDITION|  ----- */
<+ELSE PART+>
#endif     /* -----  not |CONDITION|  ----- */
$-------------------------------------------------------------------------
== preprocessor.ifndef-def-endif ==
#ifndef  _|?BASENAME:L|_H_
#define  _|BASENAME|_H_
<CURSOR><SPLIT>

#endif   //_|BASENAME|_H_
$-------------------------------------------------------------------------
== preprocessor.error ==
#error	"<CURSOR>"			/*  */
$-------------------------------------------------------------------------
== preprocessor.line ==
#line	<CURSOR>			/*  */
$-------------------------------------------------------------------------
== preprocessor.pragma ==
#pragma	once <CURSOR>
#$-------------------------------------------------------------------------
